<!DOCTYPE html>
<html>
	<head>
    $../header.html()$
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="l-m.dev/$section$ | #$epoch$">
	<meta content="l-m.dev/$section$ | #$epoch$" property="og:title">
	<meta content="$tags_me_fmt$" property="og:description">

	<meta http-equiv="refresh" content="0; url=/$section$#$epoch$">
	<title>Redirecting to $section$...</title>

	<link rel="canonical" href="/$section$#$epoch$" />
	</head>
    <body>
		$body$
	</body>
</html>
