<!DOCTYPE html>
<html>
    $../header.html()$
    <body>
        <div class="content">
        <main>
            $../head.html()$
            <hr>
            $body$
            <hr>


            <section class="tag-list">
            $for(tags_map.data)$
	        <div style="display: inline-block; font-size: $it.font_size$em;">
                <pre>［$it.tag$: <strong>$it.count$</strong>］</pre>
            </div>
            $endfor$
            </section>
            
        </main>
        $../footer.html()$
        </div>
    </body>
</html>
