<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": "https://l-m.dev/#person",
      "name": "Liam Leadbetter",
      "alternateName": ["l-m", "l-m.dev", "l1mey112", "l-mdotdev"],
      "url": "https://l-m.dev/",
      "sameAs": [
        "https://github.com/l1mey112",
        "https://www.youtube.com/@l-mdotdev",
        "https://www.twitch.tv/lmdotdev",
        "https://www.linkedin.com/in/liam-leadbetter/"
      ]
    },
    {
      "@type": "WebSite",
      "@id": "https://l-m.dev/#website",
      "url": "https://l-m.dev/",
      "name": "l-m.dev",
      "inLanguage": "en",
      "publisher": { "@id": "https://l-m.dev/#person" },
      "author": { "@id": "https://l-m.dev/#person" }
    },
    {
      "@type": "ProfilePage",
      "@id": "https://l-m.dev/#profilepage",
      "url": "https://l-m.dev/",
      "name": "Liam Leadbetter (l-m)",
      "isPartOf": { "@id": "https://l-m.dev/#website" },
      "mainEntity": { "@id": "https://l-m.dev/#person" }
    }
  ]
}
</script>
